body {
    margin: 0;
    padding: 0;
    font-family: Work Sans,sans-serif;
}

a {
    font-weight: 800;
    letter-spacing: -.5px;
    text-decoration: none;
    color: #71229c;
}

.h2-headers {
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -1.5px;
    margin: 0 0 16px 0;
}

p {
    font-size: 18px;
    margin: 0;
    letter-spacing: 1px;
}

.header-content-center-lvl-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    font-size: 25px;
}

.logo {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -1.5px;
    background: -webkit-linear-gradient(250deg,#ad5389, #3c1053);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-flex-items-lvl-4 {
    width: 1152px;
    padding: 48px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-flex-items-lvl-4 ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 35px;
    font-size: 16px;
}

.header-sign-up-button {
    padding: 4px 16px;
    border: 2px solid #71229c;
}

.hero {
    width: 100%;
    height: 850px;
    background: -webkit-linear-gradient(250deg,#ad5389, #3c1053);
    opacity: .75;
}

.home-quotes {
    padding: 128px 0;
}

.quotes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 155px;
}

.quotes {
    margin-top: 4rem;
    max-width: 480px;
}

.quote-title-text {
    font-size: 20px;
    font-weight: 800;
}

.quote-paragraph {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.customer-story-container {
    display: flex;
    padding: 160px 0;
    border-top: 1px solid #d6dae5;
}

.title-and-paragraph-left {
    width: 50%;
}

.title-and-paragraph-right {
    width: 576px;
    height: 400px;
    text-align: center;
    padding: 48px 72px;
    border: 1px solid #d6dae5;
}

.customer-portrait-1 {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.background-image {
    background-image:
    linear-gradient(250deg, rgba(173, 83, 137, 0.52), rgba(60, 16, 83, 0.73)),
    url('images/businessman-sitting-in-office-looking-at-smartphon-2022-03-04-01-46-05-utc.jpg');
    background-size: cover;
    background-position: center;
    padding: 160px 0;
    height: 380px;
    color: white;
}

.flex-start-text-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.flex-start-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 550px;
}

.flex-start-text a {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    text-decoration: none;
    color: #062c27;
    border-width: 2px;
    border-color: #fff;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}

.blog {
    padding: 128px 0;
}