@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
    position: relative;
    scroll-behavior: smooth;
}

.parent {
    position: relative;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: #71229c;
}

h1 {
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -2px;
}

.h2-headers {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -1.5px;
    margin: 0 0 16px 0;
    line-height: 1.2;
}

.h2-header-36 {
    font-size: 36px;
}

p {
    font-size: 18px;
    margin: 0;
    letter-spacing: .5px;
    line-height: 1.5;
    color: #464951;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.text-24-purple {
    color: #7e27ad;
}

.text-white {
    color: white;
}

.pt-28 {
    padding-top: 28px;
}

.pd-side-16 {
    padding: 0 16px;
}

.header-content-center-lvl-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}

.logo {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -1.5px;
    background: -webkit-linear-gradient(250deg,#ca61a0, #7a21aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-flex-items-lvl-4 {
    width: 100%;
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 2.5rem;
    font-size: 16px;
}

.current-page {
    color: #080c16;
}

.nav-text:hover {
    color: #3d1353;
}

.hamburger-menu {
    display: none;
}

.hover-color-background {
    background-color: #71229c;
    cursor: pointer;
}

.header-sign-up-button {
    padding: 6px 16px;
    border: 2px solid #71229c;
    background-color: white;
    cursor: pointer;
    transition: 150ms;
}

.header-sign-up-button:hover {
    transform: translate(5px, -5px);
}

.home-hero-gradient {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1550px;
    height: 850px;
    background: linear-gradient(90deg,white,#faeafa 20%,#f9eafa 50%,#faeafa 80%,white);
    transform: translateX(-50%);
    z-index: -2;
}

.hero {
    width: 100%;
    padding: 32px 0 384px;
    position: relative;
}

.hero-offer-text {
    position: relative;
    z-index: 1;
}

.hero-p {
    width: 55%;
    margin: 10px 0 20px;
    color: black;
    letter-spacing: -.2px;
    font-size: 18px;
}

.hero-button {
    font-size: 1.5rem;
    color: #fff;
    border-color: #3ba0f2;
    background-color: #3ba0f2;
    box-shadow: 0 2px 14px 0 rgb(0 0 0 / 20%);
    padding: 16px 32px;
    display: inline-block;
    margin-bottom: 20px;
    animation: inflateDots 800ms;
}

.hero-button:hover {
    cursor: pointer;
}

.hero-pricing-link {
    color: black;
    text-decoration: underline;
}

.home-quotes {
    padding: 128px 0;
}

.bar-graph {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.bars-group {
    opacity: 0;
}

.dot {
    opacity: 0;
}

/*SVG Animation*/

.inflate-bars {
    opacity: 1;
    transition: 150ms;
    animation: inflateBars 600ms ease-in-out;
    transform-origin: bottom;
}

.inflate-dots {
    opacity: 1;
    transition: 150ms;
    animation: inflateDots 600ms ease-in-out;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes inflateBars {
    0% {transform: scaleY(100%);}
    50% {transform: scaleY(115%);}
    100% {transform: scaleY(100%);}
}

@keyframes inflateDots {
    0% {transform: scale(25%);}
    50% {transform: scale(150%);}
    100% {transform: scale(100%);}
}

#dateLines, #dates, .hero-offer-text {
    animation: fadeIn 1500ms;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to { opacity: 1;}
}

/*End SVG Animation*/

.txt-aln-center {
    text-align: center;
}

.quotes {
    margin: 4rem auto 0;
    max-width: 480px;
}

.quote-title-text {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}

.customer-story-flex-row {
    padding: 128px 0;
    display: flex;
    justify-content: center;
    background: rgb(250, 250, 250);
}

.border-top {
    border-top: 1px solid #d6dae5;
}

.customer-story-flex {
    display: flex;
}

.customer-story-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.h2-margin-bottom {
    margin-bottom: 28px;
}

.customer-story-featured-outer {
    width: 50%;
    padding-left: 6rem;
}

.customer-story-featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    width: 83%;
    text-align: center;
    margin: auto;
    border: 1px solid #d6dae5;
    background: white;
}

.see-all-button {
    font-size: 18px;
    border: 2px solid #71229c;
    padding: 18px 32px;
    background-color: white;
    transition: 150ms;
}

.see-all-button:hover {
    transform: translate(5px, -5px);
}

.quote-text-24 {
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 16px;
    letter-spacing: -.5px;
}

.read-more-link {
    font-size: .875rem;
    color: #71229c;
    margin-top: .5rem;
    text-decoration: underline;
    font-weight: 700;
}

.customer-portrait {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-bottom: 16px;
}

.background-image {
    background-image:
    linear-gradient(250deg, rgba(173, 83, 137, 0.62), rgba(60, 16, 83, 0.83)),
    url('images/businessman-sitting-in-office-looking-at-smartphon-2022-03-04-01-46-05-utc_1920.jpg');
    background-size: cover;
    background-position: center;
    padding: 160px 0;
    height: 700px;
    color: white;
}

.flex-start-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 550px;
}

.background-img-btn {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    text-decoration: none;
    color: white;
    border-width: 2px;
    border-color: #fff;
    background-color: #cc69fd;
    text-align: center;
    cursor: pointer;
    transition: 150ms;
}

.background-img-btn:hover, .pricing-sign-up:hover {
    transform: scale(105%);
    background-color: #c456fc;
    color: white;
}

.blog {
    padding: 128px 0;
}

.blog-title-and-paragraph {
    max-width: 625px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.blog-card-link-flex-row {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.blog-card {
    height: 500px;
    max-width: 360px;
    border: 1px solid #d6dae5;
    background-color: white;
    cursor: pointer;
    transition: 150ms;
}

.blog-card:hover {
    transform: translate(10px, -10px);
    border: 2px solid #71229c;
}

.blog-link-img {
    max-width: 100%;
    filter: grayscale(100%);
    transition: .25s;
}

.blog-link-img:hover {
    filter: grayscale(0%);
}

.blog-text-container {
    padding: 24px;
}

.small-gray-text {
    font-size: 12px;
    letter-spacing: .75px;
    text-transform: uppercase;
    color: #83858a;
    font-weight: 800;
}

.blog-card-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #080c16;
    padding-top: 4px;
}

.blog-paragraph {
    position: relative;
    font-weight: 400;
    letter-spacing: -.2px;
    line-height: 1.3;
    color: #464951;
    padding-top: 8px;
}

.read-more-blog-button {
    color: #ad5389;
    text-decoration: underline;
}



.info-icons {
    padding: 128px 0 75px 0;
}

.info-title-and-paragraph {
    max-width: 600px;
    min-height: 180px;
    text-align: center;
    margin: 0 auto 8px;
}

.info-icons-flex {
    display: flex;
    justify-content: center;
}

.img-title-paragraph-group {
    text-align: center;
    min-height: 195px;
    max-width: 384px;
    padding: 24px;
}

.info-icon {
    font-size: 45px;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(250deg,#ad5389, #6d1e97);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info-item-title {
    font-weight: 800;
    font-size: 20px;
    margin: 12px 0 4px 0;
}

.text-sm {
    letter-spacing: -.2px;
    font-size: 14px;
}

.info-see-everything {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 18px;
    margin-top: 16px;
}

.align-items-center {
    align-items: center;
}

.trial-CTA {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(250deg,#ad5389, #3c1053);
}

.CTA-p {
    font-size: 36px;
    font-weight: 700;
    color: white;
    text-decoration: underline;
    text-align: center;
}

footer {
    background-color: #062c27;
}

.footer-links-outer {
    display: flex;
    padding: 96px 24px;
}

.footer-logo-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
}

.footer-links {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.link-group-ul {
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 16px;
    list-style-type: none;
    font-size: 18px;
    color: #d65da6;
}

.footer-links-list-header {
    font-weight: 700;
    color: white;
}

.footer-li {
    font-size: 18px;
    color: #d65da6;
    font-weight: 400;
}

.footer-trial-CTA-button {
    font-weight: 800;
    padding: 16px 32px;
    color: #062c27;
    background: -webkit-linear-gradient(250deg,#ca61a0, #7a21aa);
}

.copyright-container-inner {
    max-width: 1200px;
    margin: auto;
    padding: 12px 0;
    font-size: 12px;
    color: #83858a;
}

.copyright-container-inner a {
    color: #83858a;
}

/*features.html specific styling*/
.color-background {
    background: #f9eafa;
}

.center-text-large {
    text-align: center;
    padding: 80px 0; 
}

.center-text-large h1 {
    margin-bottom: 16px;
}

.center-text-large h2 {
    margin-bottom: 48px;
    font-size: 2.25rem;
}

.center-text-large a {
    margin-bottom: 0;
}

.data-features {
    padding: 5rem 0;
    border-top: 1px solid #d6dae5;
}

.title-and-animation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.animation-container {
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    width: 33.33333%;
    
}

.feature-icon-flex {
    width: 50%;
    text-align: center;
    margin: auto 0;
}

.animation-container i {
    font-size: 85px;
    background: -webkit-linear-gradient(250deg,#ad5389, #6d1e97);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h2-outer-box {
    width: 33.33333%;
}

.flex-features {
    display: flex;
    flex-wrap: wrap;
}

.feature-h4-p {
    width: 33.33333%;
    padding: 16px;
}

/*testimonials.html specific styling*/
.main-testimonials {
    padding: 80px 0 65px 0;
}

.testimonial-heading {
    text-align: center;
    margin-bottom: 16px;
}

.flex-wrap-top {
    display: flex;
    flex-wrap: wrap;
}

.testimonial-card {
    width: 25%;
    padding: 16px;
}

.testimonial-img {
    height: 160px;
    width: 160px;
    border-radius: 100%;
    border: 1px solid #71229c;
}

.testimonial-card p {
    margin-bottom: 16px;
}

.main-testimonial-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.main-flex-card-outer {
    width: 50%;
    padding: 16px;
}

.main-flex-card-inner {
    padding: 24px;
    border: 1px solid #d6dae5;
}

.main-flex-card-inner p {
    margin-bottom: 16px;
}

/*pricing.html specific styling*/

.background-purple {
    border-bottom: 1px solid #d6dae5;
}

.pricing-blocks {
    display: flex;
    align-items: center;
}

.pricing-blocks p {
    font-size: 16px;
    line-height: 1.5;
}

.pricing-block {
    width: 33%;
}

.pricing-block-left-h2 {
    font-size: 20px;
    margin-bottom: 16px;
    color: #71229c;
}

.fa-circle {
    font-size: 6px;
    position: absolute;
    left: -16px;
    top: 16px;
}

.pb-middle {
    background: white;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    border: 1px solid #71229c;
}

.block-banner {
    background-color: #71229c;
    color: white;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.pricing-block-padding-width {
    padding: 24px 32px;
}

.head-spacing {
    letter-spacing: -.75px;
    line-height: 1;
}

.smb-head {
    font-size: 48px;
    font-weight: 700;
    color: #71229c;
    padding: 16px 16px 0 16px;
}

.price-per-mo {
    font-size: 24px;
    color: gray;
    margin: 8px 0 24px;
}

.pricing-sign-up {
    max-width: 190px;
    font-size: 20px;
    padding: 12px 32px;
    background-color: #71229c;
    margin: 0 auto 32px;
    font-weight: 700;
    color: white;
    white-space: nowrap;
    transition: 150ms;
}

.pricing-check {
    display: flex;
}

.fa-check {
    padding: 12px 5px 0 0;
    color: #71229c;
}

.pb-right {
    background-color: white;
    border: 1px solid #d6dae5;
    border-left: 0;
}

.block-banner-2 {
    text-align: center;
    background: #f2f3f3;
    padding: 20px 32px 24px;
    border-bottom: 1px solid #d6dae5;
    font-size: 14px;
}

.pb-right-head {
    font-size: 36px;
    color: #71229c;
}

.img-para-comp {
    padding: 96px 24px;
    display: flex;
    justify-content: center;
}

.img-para-comp-inner {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.color-text-12 {
    font-size: 12px;
    color: #7e27ad;
    letter-spacing: 1px;
    font-weight: 700;
}

.faq {
    padding: 96px 24px 80px;
}

.faq-header {
    margin-bottom: 16px;
    padding-left: 16px;
}

.faq-flex-elements {
    display: flex;
    flex-wrap: wrap;
}

.faq-element {
    width: 50%;
    padding: 24px 16px;
}

/*blog.html specific styling*/
.blog-h3 {
    margin-bottom: 32px;
}

.blog-content {
    display: flex;
    padding-bottom: 96px;
}

.blog-index {
    padding: 16px;
    width: 25%;
    border-right: 1px solid #d6dae5;
}

.blog-index ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
    text-decoration: underline;
}

.blog-pg-cards {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.blog-pg-card {
    width: 33.33333%;
}

.page-number-index {
    padding-bottom: 80px;
    width: 100%;
}

.page-numbers {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.blg-pg-numbers {
    font-size: 18px;
    width: 22px;
    margin: 0 6px;
    text-align: center;
    font-weight: 400;
    color: black;
}

.pg-nmb-highlight {
    background-color: #71229c;
    color: white;
}

.chevron-purple {
    color: #71229c;
}

.chevron-gray {
    color: lightgray;
}

/*signup.html specific styling*/
.signup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
    gap: 32px;
}

.signup-gray-background {
    padding: 32px 16px 100px;
}

.pricing-flex input {
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
    padding: 10px;
    margin-top: 2px;
    border: 1px solid #d6dae5;
    color: #464951;
}

.signup {
    max-width: 800px;
    margin: auto;
}

.pricing-flex {
    display: flex;
}

.user-info {
    width: 50%;
    border: 1px solid #d6dae5;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 8%);
}

.user-info-labels {
    padding: 16px 32px 0;
}

.label-input-group {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-top: 16px;
}

.site-address {
    padding: 32px;
    margin-top: 32px;
    border-top: 1px solid #d6dae5;
    background-color: #f4f4f4;
}

.label-input-row {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px 0;
}

.signup-sidebar {
    width: 50%;
    padding: 32px;
}

.signup-sidebar .price-per-mo {
    margin: 0 0 32px 0;
    font-size: 20px;
}

.signup-quote {
    margin: 32px 0;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px solid #d6dae5;
    border-bottom: 1px solid #d6dae5;
}

.signup-quote-box {
    display: flex;
    justify-content: space-between;
}

.signup-p {
    margin: 0 10px 20px 0;
    max-width: 200px;
    font-size: 16px;
    font-weight: 700;
}

.signup-switch {
    margin-bottom: 32px;
}

.switch-plan-btn {
    font-size: 18px;
    color: #3ba0f2;
    text-decoration: underline;
}

.billing-head {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 32px 0 16px 0;
}

.fa-lock {
    color: #71229c;
    font-size: 15px;
    
}

.billing-info {
    width: 50%;
    border: 1px solid #d6dae5;
    padding: 16px;
}

.cancel-info {
    width: 50%;
    padding: 32px;
}

.tos-p {
    font-size: 16px;
    padding: 38px 0 20px 0;
}

.tos-input {
    display: flex;
    gap: 5px;
}

.start-trial-btn {
    margin-top: 38px;
    border: none;
    border-radius: 5px;
}

/*about.html specific styling*/
.about-text {
    padding: 30px 0 80px 0;
}

.about-inner {
    width: 50%;
}

.about-h3 {
    font-size: 36px;
    line-height: 1;
}

.mb-24 {
    margin-bottom: 24px;
}

/*Media Queries*/

@media only screen and (max-width: 1024px){
    
    h1 {
        font-size: 1.75rem;
    }

    .h2-headers {
        font-size: 2.25rem;
    }

    .hero-p {
        width: 100%;
        font-size: calc(14px + (400vw - 1280px)/880);
    }

    .home-quotes {
        padding: 48px 0;
    }

    .customer-story-flex-row {
        padding: 48px 0;
    }
    
    .customer-story-flex {
        flex-direction: column;
        text-align: center;
    }

    .customer-story-left {
        width: 100%;
        align-items: center;
        margin-bottom: 3rem;
    }

    .customer-story-featured-outer {
        width: 100%;
        padding: 0;
        margin: auto;
    }

    .customer-story-featured {
        margin: 0 auto;
    }

    .blog {
        padding: 48px 0;
    }

    .blog-card-link-flex-row {
        flex-wrap: wrap;
    }

    .info-icons {
        padding: 40px 0;
    }

    .info-icons-flex-wrap {
        display: flex;
        flex-direction: row;
    }

    .info-icons-flex {
        flex-direction: column;
        width: 50%;
    }

    .img-title-paragraph-group {
        width: 100%;
    }

    .footer-links {
        width: 100%;
    }

    .footer-links-outer {
        flex-direction: column;
    }

    .footer-logo-box {
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 3rem;
    }

    .footer-logo {
        margin-bottom: 16px;
    }

    /*testimonials.html responsive styling*/
    .testimonial-card {
        width: 50%;
    }

    /*pricing.html responsive styling*/
    .pricing-blocks {
        flex-direction: column;
    }

    .pricing-block {
        width: 100%;
        margin-bottom: 24px;
    }
    /*blog.html specific styling*/
    .blog-pg-card {
        width: 50%;
    }
}

@media only screen and (max-width: 765px) {

    #nav-ul {
        padding: 50px 0 0 25px;
        flex-direction: column;
        align-items: flex-start;
        font-size: 32px;
    }

    .header-content-center-lvl-3 {
        padding: 0;
    }

    .nav-flex-items-lvl-4 {
        padding: 16px 24px;
        background: white;
        border-bottom: 1px solid #d6dae5;
    }

    .nav-menu-items {
        display: none;
    }

    .overflow-hidden {
        overflow: hidden;
        position: fixed;
    }

    .mobile-active {
        background-color: #f9eafa;
        display: block;
        position: fixed;
        top: 80px;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 3;
       
        animation: fadeIn 500ms;
    }

    .hamburger-menu {
        display: block;
    }  
    
    .info-icons-flex-wrap {
        flex-direction: column;
    }

    .info-icons-flex {
        width: 100%;
        align-items: center;
    }

    .trial-CTA {
        display: none;
    }

    .footer-links-outer {
        padding: 32px 24px;
    }

    .copyright-container-inner {
        padding: 12px 24px 96px;
    }

    /*features.html specific styling*/
    .title-and-animation {
        flex-direction: column;
    }

    .animation-container {
        width: 80%;
    }

    .flex-features {
        flex-direction: column;
    }

    .h2-outer-box {
        width: 80%;
    }

    .h2-outer-box h2 {
        text-align: center;
    }

    .feature-h4-p {
        width: 100%;
    }

    /*testimonials responsive styling*/
    .testimonial-card p {
        font-size: 14px;
    }

    .main-flex-card-outer {
        width: 100%;
    }

    /*pricing.html responsive styling*/
    .faq-element {
        width: 100%;
    }

    /*blog.html specific styling*/
    .blog-content {
        flex-direction: column;
    }

    .blog-pg-card {
        width: 100%;
    }    
}

@media only screen and (max-width: 479px){
    .hero-p {
        line-height: 1.15;
    }

    .hero-button {
        font-size: 1.125rem;
        padding: 1rem;
    }

    .customer-story-featured {
        width: 100%;
        padding: 1.5rem;
    }

    /*testimonials.html specific styling*/
    .testimonial-card {
        width: 100%;
    }
}

